Source: ejabberd
Section: net
Priority: optional
Maintainer: Torsten Werner <twerner@debian.org>
Uploaders: Gerfried Fuchs <rhonda@debian.at>
Build-Depends: cdbs (>= 0.4.23-1.1), debhelper (>= 5), quilt, patchutils (>= 0.2.25), cdbs (>= 0.4.27), erlang-nox, erlang-dev (>= 1:11.b.2), libexpat1-dev, libssl-dev, zlib1g-dev, libpam0g-dev
Standards-Version: 3.8.0
Homepage: http://www.process-one.net/en/projects/ejabberd/
Vcs-Svn: svn+ssh://svn.debian.org/svn/collab-maint/deb-maint/ejabberd/trunk
Vcs-Browser: http://svn.debian.org/wsvn/collab-maint/deb-maint/ejabberd/trunk/

Package: ejabberd
Architecture: any
Depends: adduser, ${erlang-nox:Depends}, ${erlang-abi:Depends}, openssl, ucf, ${misc:Depends}, ${shlibs:Depends}
Suggests: libunix-syslog-perl
Description: Distributed, fault-tolerant Jabber/XMPP server written in Erlang
 ejabberd is a distributed, fault-tolerant Jabber/XMPP server written in Erlang
 Features:
  - XMPP-compliant
  - Web based administration
  - Load balancing: can run in a cluster of machines
  - Fault-tolerance: database can be replicated and stored on multiple
    nodes (nodes can be added or replaced 'on the fly')
  - Virtual hosting: several virtual domains can be served using single ejabberd
    instance
  - SSL/TLS support
  - Multi-User Chat (MUC/conference)
  - IRC transport
  - Jabber Users Directory, based on users vCards
  - Service Discovery
  - Shared roster
