#!/usr/bin/make -f

DEB_AUTO_UPDATE_DEBIAN_CONTROL := true

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/autotools.mk
include /usr/share/cdbs/1/rules/patchsys-quilt.mk

DEB_BUILDDIR := $(shell pwd)/src
DEB_CONFIGURE_SCRIPT := $(DEB_BUILDDIR)/configure
DEB_CONFIGURE_EXTRA_FLAGS := --enable-odbc
# Not sure if we should enable workaround for gateway subscription
# Adding it breaks XMPP compatibility
# Not adding breaks roster import for some gateways (specifically JIT)
#DEB_CONFIGURE_EXTRA_FLAGS := --enable-odbc --enable-roster-gateway-workaround

EJABBERDIR := /usr/lib/erlang/lib/ejabberd-$(DEB_UPSTREAM_VERSION)
DEB_MAKE_INSTALL_TARGET := install DESTDIR=$(DEB_DESTDIR) \
	EJABBERDDIR=$(DEB_DESTDIR)$(EJABBERDIR)           \
	ETCDIR=$(DEB_DESTDIR)/etc/ejabberd                \
	LOGDIR=$(DEB_DESTDIR)/var/log/ejabberd

CFLAGS := -I `ls -d /usr/lib/erlang/erts-*`/include/

# declares a minimal versioned erlang Depends:
install/ejabberd::
	$(RM) $(DEB_DESTDIR)/etc/ejabberd/ejabberd.cfg
	grep-status -s Version -PX erlang-nox | sed -e's!^Version: \(.*\)!erlang:Depends=erlang-base (>= \1) | erlang-base-hipe (>= \1), erlang-nox (>= \1)!' >> debian/ejabberd.substvars

get-orig-source:
	dh_testdir
	wget -O ../ejabberd_$(DEB_UPSTREAM_VERSION).orig.tar.gz http://www.process-one.net/en/projects/ejabberd/download/$(DEB_UPSTREAM_VERSION)/ejabberd-$(DEB_UPSTREAM_VERSION).tar.gz

